.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  .leftSide,
  .rihtSide {
    display: flex;
    align-items: center;
  }
  .logoBtn {
    width: 68px;
    height: 68px;
    border-radius: 50px;
    background-image: url(../../../../assets/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
