<div class="loginContainer">
  <div class="loginHead">Welcome Back!</div>
  <div class="formContainer">
    <form class="loginForm">
      <mat-form-field class="formField">
        <input matInput name="username" [(ngModel)]="data.username" />
        <mat-label htmlFor="username">Username</mat-label>
      </mat-form-field>
      <mat-form-field class="formField">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          name="password"
          [(ngModel)]="data.password"
          class="w-100"
          placeholder="Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="login()"
        pButton
        pRipple
        label="Login"
      >
        Login
      </button>
    </form>

    <div *ngIf="errorMessage" class="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
