<div class="productsBarContainer">
  <mat-toolbar class="secondBar">
    <button routerLink="/menu" mat-button class="productsButton">Menu</button>
    <button routerLink="/products" mat-button class="productsButton">All Products</button>
    <button routerLink="/products/coffee"mat-button class="productsButton">Coffee</button>
    <button routerLink="/products/tea"mat-button class="productsButton">Tea</button>
    <button routerLink="/events"mat-button class="productsButton">Events</button>
  </mat-toolbar>
</div>
